	list := make([]{{list.item.type}}, 0)
	reader := injection.Select(selector)
	defer reader.Close()
	for reader.HasMore() {
		o1, err := reader.Read()
		if err != nil {
			injection.OnError(err)
			return list
		}
		o2, ok := o1.({{list.item.type}})
		if !ok {
			// err = errors.New("bad cast, selector:" + selector)
			// injection.OnError(err)
			// return list
			// warning ...
			continue
		}
		list = append(list, o2)
	}
	return list
